.row(@align: flex-start, @justify: flex-start, @wrap: nowrap) {
  display: flex;
  flex-direction: row;
  align-items: @align;
  justify-content: @justify;
  flex-wrap: @wrap;
}

.column(@align: flex-start, @justify: flex-start, @wrap: nowrap) {
  display: flex;
  flex-direction: column;
  align-items: @align;
  justify-content: @justify;
  flex-wrap: @wrap;
}

.max(@max-width) {
  width: 100%;
  max-width: @max-width;
}

.mp(@margin, @padding) {
  margin: @margin;
  padding: @padding;
}

.size(@width, @height) {
  width: @width;
  height: @height;
}

.stretch(@position: absolute) {
  position: @position;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.center() {
  position: absolute;
  top: 50%;
  left: 0; right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
}

.shadow() {
  box-shadow: 0 0 15px 1px fade(@dark, 15%);
}

.animate(@property: all) {
  transition: @property 0.25s ease-in-out;
}

.background(@background) {
  background: @background;
  color: contrast(@background, @text-dark, @text-light);
}

.pointer() {
  &,* {
    cursor: pointer;
  }
}

.normalize(@font: Helvetica) {
  html, body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: @font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: @text-dark;
  }

  *:before, *:after {
    box-sizing: inherit;
  }

  /**
   * Make all elements display: block and remove all paddings
   * and margins. Everything shall be styled based on this
   * in order to remove weird cross browser issues with default
   * styles.
   */
  body * {
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    font-family: @font;
    font-weight: normal;
    direction: ltr;
    color: inherit;
    border: none;
    background: unset;
    -webkit-appearance: unset;
  }

  /**
   * Prevent default coloring for anchor tags. Default color
   * should equal the currently set color of the parent.
   */
  a {
    color: inherit;
  }

  /**
   * Ensure pointer for all buttons and anchors
   */
  a, button, a *, button * {
    cursor: pointer;
  }
}
